body {
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
}

main {
    min-height: 100vh;
    min-width: 100vw;
}

#map-page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#map-container {
    height: 100%;
    width: 100%;
    background-color: lightgrey;
}

#search-mapkey-property-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 2vw;
    z-index: 2;
    min-width: 35vw;
    max-width: 35vw;
    max-height: calc(100% - 30px);
    background-color: rgb(35 55 75 / 30%);
    padding: 5px;
    border-radius: 3px;
    overflow-y: scroll;
}

div[class*="--Results"] {
    min-width: unset !important;
    width: 98%;
}

.search-container,
.property-container,
.mapkey-container,
.rolodex-container {
    position: relative;
    height: 100%;
    background-color: rgb(35 55 75);
    margin: 2.5px;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
}

.main-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

.main-label > h3 {
    font-weight: 400;
    /* color: rgb(255, 255, 255); */
    color:  rgb(252, 225, 115);
    font-size: 1.35em;
}

.map-layers-container {
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(46, 68, 89);
    border-radius: 1.5%;
    /* border-top: 1.5px solid rgb(5, 13, 21); */
    border: 1.5px solid rgb(4, 40, 76);
    /* border: 1.5px solid rgb(5, 13, 21); */
}

.map-layer-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 7px;
    border-bottom: 1.5px solid rgba(171, 170, 170, 0.45);
}

.map-layer-label > h4 {
    font-size: 1.15em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.3px rgb(255, 255, 255);
}

.map-sublayer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-sublayer-container-spacing {
    margin: 5px 0px;
}

.map-sublayer-container > h4 {
    font-size: 1.15em;
    font-weight: 400;
    color: white;
    -webkit-text-stroke: 0.20px black;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-left: 0;
}

input[type="number"] {
    min-width: 65%;
    max-width: 75%;
    box-sizing: border-box;
}

input[type="color"] {
    width: 20px; 
    height: 20px;
    padding: 0;
    margin-right: 2px; 
}

.sub-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.detail-color {
    color: rgb(255, 204, 0);
    margin-left: 5px;
}

.property-details-card {
  display: grid;
  grid-template-columns: 30% auto;  
  column-gap: 12px;                 
  row-gap: 10px;                     
  overflow-x: auto;                 
  background-color: rgb(35, 55, 75);
  color: white;
  font-family: monospace;
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 5px;
}

.property-detail-row {
  display: contents;
}

.property-detail-row .label {
  padding-right: 4px;
}

.property-detail-row .value {
  word-break: break-word;            /* wrap long text */
  overflow-wrap: break-word;         /* ensure wrapping */
}

.rolodex-items-container {
    text-align: left;
}

.rolodex-entry-container {
    display: grid;
    grid-template-columns: 30% auto; /* 30% for labels, remaining for values */
    border: 0.5px solid rgba(255, 204, 0, 0.85);
    margin-bottom: 5px;
    padding: 10px 5px;
    overflow-x: auto;        /* scroll whole entry */
    white-space: nowrap;     /* prevent wrapping of content */
    gap: 5px;
    position: relative;
}

.rolodex-detail-container {
    display: contents;
}

.rolodex-detail-container > div:nth-child(1) {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.3px rgb(255, 255, 255);
    padding: 2px;
}

.rolodex-detail-container > div:nth-child(2) {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: 400;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.3px rgb(255, 255, 255);
    padding: 2px;
    overflow: visible;
}

.rolo-link {
    color:  rgba(255, 204, 0, 0.85);
    font-weight: 100;
}

.rolo-index {
    position: absolute;
    top: 0.95;
    right: 0;
    color: white;
    font-size: 0.7em;
}